:root {
    --border-color: #D2CFC7;
    --accent-color: #789776;
    --text-color: #5B6158;
    --background-color: #FEFBF7;
    --black-additional-color: #3F423D;
    --pass-color: #CBC9C1;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype')
}

.directionTitleWithMainInformation
{
    height: 115px;
    width: 1200px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto 62px auto;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionTitleWithMainInformation
    {
        height: 71px;
        width: 696px;
        margin-top: 190px;
        margin-bottom: 54px;
    }
}

@media screen and (max-width: 696px)
{
    .directionTitleWithMainInformation
    {
        height:126px;
        width: 327px;
        margin-top: 90px;
        margin-bottom: 51px;
        flex-direction: column;
        padding: 0 5px;
    }
}

.directionTitle
{
    height: 100%;
    width: 720px;
}

.directionSecondInfo
{
    height: 100%;
    width: 408px;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionTitle
    {
        width: 358px;
    }

    .directionSecondInfo
    {
        width: 243px;
    }
}

@media screen and (max-width: 696px)
{
    .directionTitle
    {
        width: 100%;
        height: 62px;
    }

    .directionSecondInfo
    {
        width: 100%;
        height: 42px;
    }
}

.directionMainInformation
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (min-width: 1201px)
{
    .directionMainInformation
    {
        width: 1200px;
        height: 506px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionMainInformation
    {
        width: 696px;
    }
}

@media screen and (max-width: 696px)
{
    .directionMainInformation
    {
        width: auto;
    }
}

@media screen and (max-width: 1200px)
{
    .directionMainInformation
    {
        justify-content: center;
        flex-direction: column;
    }
}

.typesOfDirections
{
    height: 100%;
    width: 327px;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .typesOfDirections
    {
        height: fit-content;
        width: 696px;
    }
}

@media screen and (max-width: 696px)
{
    .typesOfDirections
    {
        width: 100vw;
    }
}

.oneDirection
{
    border-radius: 30px;
    border: 1px solid ;
    border-color: var(--border-color);
    padding: 16px 32px;
    background-color: var(--background-color);
    transition: all 0.3s ease-in-out;
}

.typesOfDirections > .oneDirection:not(:last-child)
{
    margin: 0px 6px 6px 0px;
}

.oneDirection:hover
{
    border-color: var(--accent-color);
}

.oneDirection.active
{
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.oneDirection.active .directionText
{
    color: var(--background-color);
}


@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype')
}

.directionText
{
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: var(--text-color);
    margin: 0;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionText
    {
        font-size: 12px;
    }

    .oneDirection
    {
        padding: 16px 20px;
    }

    .typesOfDirections
    {
        display: flex;
        justify-content: space-evenly;
    }

    .typesOfDirections > .oneDirection:not(:last-child)
    {
        margin: 0px 5px 0px 0px;
    }

    .typesOfDirections > .oneDirection:last-child
    {
        margin: 0px 0px 0px 0px;
    }

}

@media screen and (max-width: 696px)
{
    .oneDirection.add.secondadd.second
    {
        margin: 0px 5px 0px 0px;
    }

    .oneDirection
    {
        padding: 15px 20px;
    }

    .typesOfDirections
    {
        display: block;
        height: 100%;
    }

    .typesOfDirections > .oneDirection:not(:last-child)
    {
        margin: 0px 5px 0px 0px;
    }

    .typesOfDirections > .oneDirection:last-child
    {
        margin: 0px 0px 0px 0px;
    }

    .typesOfDirections
    {
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        white-space: nowrap;
    }

    .typesOfDirections::-webkit-scrollbar
    {
        display: none;
    }

    .directionText
    {
        font-size: 12px;
    }
}

.directionPhotoAndText
{
    width: 844px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionPhotoAndText
    {
        width: 696px;
        height: 422px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 696px)
{
    .directionPhotoAndText
    {
        width: 327px;
        height: fit-content;
        margin-top: 24px;
        margin: 24px auto 0 auto;
        display: flex;
        flex-direction: column;
    }
}

.directionPhoto
{
    width: 346px;
    height: 493px;
    position: relative;
}

.directionTextAll
{
    width: 412px;
    height: 506px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionPhoto
    {
        width: 311px;
        height: 422px;
    }

    .directionTextAll
    {
        width: 345px;
        height: 422px;
    }
}

@media screen and (max-width: 696px)
{
    .directionPhoto
    {
        width: 327px;
        height: 258px;
        margin-bottom: 32px;
    }

    .directionTextAll
    {
        width: 327px;
        height: fit-content;
    }
}

.directionTextAndNavigation
{
    width: 100%;
    height: 336px;
}

.directionDateAndTime
{
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionDateAndTime
    {
        height: 72px;
    }

    .directionTextAndNavigation
    {
        height: 309px;
    }
}

@media screen and (max-width: 696px)
{
    .directionDateAndTime
    {
        height: 65px;
        margin-bottom: 22px;
    }

    .directionTextAndNavigation
    {
        height: fit-content;
    }
}

.directionPhotoUrl
{
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 0;
    border-radius: 173px 173px 192.5px 0px;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.directionPhotoUrl.active
{
    opacity: 1;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionPhotoUrl
    {
        border-radius: 156px 156px 156px 0px;
    }
}

@media screen and (max-width: 696px)
{
    .directionPhotoUrl
    {
        border-radius: 129px 0px 0px 0px;
        object-position: 40% 50%;
    }
}

.directionTextCanBeBigger
{
    width: 100%;
    height: calc(100% - 34px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.directionNavigationWrap
{
    width: 100%;
    height: 47px;
}

@media screen and (max-width: 696px)
{
    .directionTextCanBeBigger
    {
        height: fit-content;
    }

    .directionNavigationWrap
    {
        margin-top: 12px;
    }
}

.directionTitleWithText
{
    display: none;
}

.directionTextSmall
{
    height: fit-content;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionTitleWithText
    {
        display: flex;
        height: 15px;
    }

    .directionTextSmall
    {
        height: 240px;
    }
}

@media screen and (max-width: 696px)
{
    .directionTitleWithText
    {
        display: none;
    }

    .directionTextSmall
    {
        height: 200px;
    }
}

.directionTextBlock
{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: fit-content;
}

.directionTextBlock.active
{
    opacity: 1;
}

.directionSmallestText:not(:last-child)
{
    margin: 0px 0px 26px 0px;
}

.directionSmallestText
{
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.3;
    margin: 0;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionSmallestText
    {
        line-height: 1.25;
        color: var(--black-additional-color);
        font-size: 14px;
    }

    .directionSmallestText:not(:last-child)
    {
        margin: 0px 0px 23px 0px;
    }
}

@media screen and (max-width: 696px)
{
    .directionSmallestText
    {
        line-height: 1.35;
        color: var(--black-additional-color);
        font-size: 13px;
    }

    .directionSmallestText:not(:last-child)
    {
        margin: 0px 0px 4px 0px;
    }
}

.directionNavigation
{
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 1200px)
{
    .directionNavigation
    {
        height: 34px;
    }
}

.directionNumberOfPhotoInCarouselAndProgress
{
    height: 19px;
    width: 323px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .directionNumberOfPhotoInCarouselAndProgress
    {
        width: 254px;
    }
}

@media screen and (max-width: 696px)
{
    .directionNumberOfPhotoInCarouselAndProgress
    {
        justify-content: end;
        width: 243px;
    }
}

.directionProgressBar
{
    height: 3px;
    width: 341px;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .directionProgressBar
    {
        width: 254px;
    }
}

.directionProgressBar
{
    background-color: var(--pass-color);
}

@media screen and (max-width: 696px)
{
    .directionProgressBar
    {
        width: 243px;
    }
}

.panelOfNavigationDirection
{
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px)
{
    .panelOfNavigationDirection
    {
        height: 34px;
    }
}

.homeButtonsToChangePhoto
{
    height: 34px;
    width: 76px;
    display: flex;
    justify-content: space-between;
}

.directionTitleCanBeChange
{
    height: 28px;
    width: 100%;
}

.directionDateAndTimeWithText
{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionTitleCanBeChange
    {
        display: none;
    }

    .directionDateAndTimeWithText
    {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 696px)
{
    .directionTitleCanBeChange
    {
        height: 16px;
        width: 100%;
        display: flex;
    }

    .directionDateAndTimeWithText
    {
        height: 36px;
        width: 100%;
        flex-direction: row;
    }
}

.directionTitleMainPart
{
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    margin: 0;
    font-family: 'Raleway-Semibold';
    font-weight: 600;
    font-size: 24px;
    color:var(--text-color);
    line-height: 1.3;
}

@media screen and (max-width: 1200px)
{
    .directionTitleMainPart
    {
        font-size: 15px;
    }
}

.directionTitleMainPart.active
{
    opacity: 1;
}

.directionTitleWithText
{
    position: relative;
}

.directionTitleCanBeChange
{
    position: relative;
}

.directionDateWithLargeLength
{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.directionTimeWithLargeLength
{
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionDateWithLargeLength
    {
        height: 26px;
        width: 100%;
    }

    .directionTimeWithLargeLength
    {
        height: 27px;
        width: 100%;
    }
}

@media screen and (max-width: 696px)
{
    .directionDateWithLargeLength
    {
        height: 36px;
        width: fit-content;
    }

    .directionTimeWithLargeLength
    {
        height: 36px;
        width: fit-content;
    }
}

.directionCalendar
{
    height: 24px;
    width: 24px;
    margin-right: 22px;
}

.directionCalendarText
{
    height: 21px;
    width: calc(100% - 46px);
    position: relative;
    display: flex;
}

.directionTimer
{
    height: 25px;
    width: 25px;
    margin-right: 21px;
}

.directionTimerText
{
    height: 21px;
    width: calc(100% - 46px);
    position: relative;
    display: flex;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionCalendar
    {
        height: 26px;
        width: 26px;
        margin-right: 8px;
    }

    .directionCalendarText
    {
        height: 21px;
        width: calc(100% - 34px);
    }

    .directionTimer
    {
        height: 27px;
        width: 27px;
        margin-right: 7px;
    }

    .directionTimerText
    {
        height: 21px;
        width: calc(100% - 34px);
    }
}

@media screen and (max-width: 696px)
{
    .directionCalendar
    {
        height: 23px;
        width: 23px;
        margin-right: 25px;
    }

    .directionCalendarText
    {
        height: 100%;
        width: 88px;
        flex-direction: column;
    }

    .directionTimer
    {
        height: 24px;
        width: 24px;
        margin-right: 22px;
    }

    .directionTimerText
    {
        height: 100%;
        width: 97px;
        flex-direction: column;
    }
}

.directionCalendarAndTimerText
{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin: 0;
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 16px;
    color: var(--black-additional-color);
    line-height: 1.3;
    font-feature-settings: "lnum";
}

.directionCalendarAndTimerText.active
{
    opacity: 1;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionCalendarAndTimerText
    {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 696px)
{
    .directionCalendarAndTimerText
    {
        font-size: 13px;
        line-height: 1.35;
    }
}

.directionCalendarAndTimerTextWrapper
{
    position: absolute;
    display: flex;
}

@media screen and (max-width: 696px)
{
    .directionCalendarAndTimerTextWrapper
    {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}

.directionAdditionalSpace
{
    margin-right: 5px;
}

.directionFlower
{
    position: absolute;
    bottom: -95px;
    left: -10px;
}

@media screen and (max-width: 1200px)
{
    .directionFlower
    {
        display: none;
    }
}