:root {
    --border-color: #D2CFC7;
    --accent-color: #789776;
    --text-color: #5B6158;
    --background-color: #FEFBF7;
}

.directionTitleWithMainInformation
{
    height: 115px;
    width: 1200px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto 62px auto;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionTitleWithMainInformation
    {
        height: 71px;
        width: 696px;
        margin-top: 190px;
        margin-bottom: 54px;
    }
}

@media screen and (max-width: 696px)
{
    .directionTitleWithMainInformation
    {
        height:126px;
        width: 327px;
        margin-top: 90px;
        margin-bottom: 51px;
        flex-direction: column;
        padding: 0 5px;
    }
}

.directionTitle
{
    height: 100%;
    width: 720px;
}

.directionSecondInfo
{
    height: 100%;
    width: 408px;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionTitle
    {
        width: 358px;
    }

    .directionSecondInfo
    {
        width: 243px;
    }
}

@media screen and (max-width: 696px)
{
    .directionTitle
    {
        width: 100%;
        height: 62px;
    }

    .directionSecondInfo
    {
        width: 100%;
        height: 42px;
    }
}

.directionMainInformation
{
    margin: 0 auto;
}

@media screen and (min-width: 1201px)
{
    .directionMainInformation
    {
        width: 1200px;
        height: 506px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionMainInformation
    {
        width: 696px;
    }
}

@media screen and (max-width: 1200px)
{
    .directionMainInformation
    {
        justify-content: center;
    }
}

.typesOfDirections
{
    height: 100%;
    width: 327px;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .typesOfDirections
    {
        height: fit-content;
        width: 696px;
    }
}

@media screen and (max-width: 696px)
{
    .typesOfDirections
    {
        width: 100vw;
        height: 39px;
    }
}

.oneDirection
{
    border-radius: 30px;
    border: 1px solid ;
    border-color: var(--border-color);
    padding: 16px 32px;
    background-color: rgba(red, green, blue, 1);
    margin: 0px 6px 6px 0px;
    transition: border-color background-color 0.3s ease-in-out;
}

.oneDirection:hover
{
    border-color: var(--accent-color);
}

.oneDirection:active
{
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.oneDirection:active .directionText
{
    color: var(--background-color);
}


@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype')
}

.directionText
{
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    color: var(--text-color);
    margin: 0;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .directionText
    {
        font-size: 12px;
    }

    .oneDirection
    {
        padding: 16px, 20px;
    }
}

@media screen and (max-width: 696px)
{
    .oneDirection
    {
        padding: 15px, 20px;
    }
}