.homeMain
{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.homeMain
{
    width: 1200px;
    height: 650px;
    margin-top: 104px;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .homeMain {
        width: 696px;
        height: 495px;
        margin-top: 75px;
    }
}

@media screen and (max-width: 696px) 
{
    .homeMain 
    {
        width: 327px;
        height: 839px;
        margin-top: 52px;
        padding: 0 5px;
        flex-direction: column-reverse;
    }
}

.homeFirstColumn
{
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeSecondColumn
{
    height: 100%;
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .homeFirstColumn 
    {
        width: 383px;
    }

    .homeSecondColumn
    {
        width: 310px;
    }
}

@media screen and (max-width: 696px) 
{
    .homeFirstColumn 
    {
        width: 327px;
        height: 279px;
    }

    .homeSecondColumn
    {
        width: 327px;
        height: 535px;
    }
}

.homeFirstColumnFirstRow
{
    width: 100%;
    height: 194px;
}

.homeFirstColumnSecondRow
{
    width: 100%;
    height: 418px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .homeFirstColumnFirstRow
    {
        height: 125px;
    }

    .homeFirstColumnSecondRow
    {
        height: 356px;
    }
}

@media screen and (max-width: 696px)
{
    .homeFirstColumnFirstRow
    {
        display: none;
    }

    .homeFirstColumnFirstRow .homeMainText
    {
        text-align: center;
    }

    .homeFirstColumnSecondRow
    {
        height: 392px;
    }
}

.homeTextSecond
{
    width: 100%;
    height: 45px;
}

.homePoints
{
    width: 100%;
    height: 250px;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .homeTextSecond
    {
        height: 45px;
    }

    .homePoints
    {
        height: 210px;
    }
}

@media screen and (max-width: 696px)
{
    .homeTextSecond
    {
        height: 38px;
    }

    .homePoints
    {
        height: 192px;
    }
}

.homeMainTextInvisible
{
    display: none;
}

.yogaCarousel
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 696px)
{
    .homeMainTextInvisible
    {
        height: 105px;
        width: 100%;
        display: flex;
    }

    .yogaCarousel
    {
        height: 392px;
    }

}

.yogaPointsAndPhoto
{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .yogaPointsAndPhoto
    {
        width: 82%;
    }
}

@media screen and (max-width: 696px)
{
    .yogaPointsAndPhoto
    {
        width: 100%;
        justify-content: space-between;
    }
}

.yogaPhotoSmall
{
    height: 100%;
    width: 183px;
}

.plusPointsToCenter
{
    height: 100%;
    width: 187px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .yogaPhotoSmall
    {
        width: 139px;
        height: 192px;
    }

    .plusPointsToCenter
    {
        width: 164px;
        height: 192px;
    }
}

@media screen and (max-width: 696px)
{
    .yogaPhotoSmall
    {
        width: 139px;
    }

    .plusPointsToCenter
    {
        width: 174px;
    }
}

.homeSmallPhoto
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 91.5px 91.5px 0 0;
}

.pointsToCenter
{
    width: 100%;
    height: 178px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px) 
{
    .pointsToCenter
    {
        height: 135px;
    }
}

@media screen and (max-width: 696px)
{
    .pointsToCenter
    {
        height: 131px;
    }
}

.onePoint
{
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px)
{
    .onePoint
    {
        height: 39px;
        width: 100%;
    }
}

.forNumber
{
    height: 100%;
    width: 26px;
}

.forPlusesToChoose
{
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .forNumber
    {
        width: 23px;
    }

    .forPlusesToChoose
    {
        width: 132px;
    }
}

@media screen and (max-width: 696px)
{
    .forNumber
    {
        width: 23px;
    }

    .forPlusesToChoose
    {
        width: 140px;
    }
}

.homeChangingPhoto
{
    width: 100%;
    height: 604px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.panelOfNavigation
{
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .homeChangingPhoto
    {
        margin-top: 25px;
        height: 395px;
    }

    .panelOfNavigation
    {
        height: 34px;
    }
}

@media screen and (max-width: 696px)
{
    .homeChangingPhoto
    {
        height: 380px;
    }

    .panelOfNavigation
    {
        display: none;
    }
}

.homeNumberOfPhotoInCarouselAndProgress
{
    height: 19px;
    width: 386px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeButtonsToChangePhoto
{
    height: 34px;
    width: 76px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .homeNumberOfPhotoInCarouselAndProgress
    {
        width: 229px;
    }
}

.homeNumberOfPhotoInCarousel
{
    height: 100%;
    width: 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.homeProgressBar
{
    height: 3px;
    width: 341px;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .homeNumberOfPhotoInCarousel
    {
        width: 29px;
    }

    .homeProgressBar
    {
        width: 194.25px;
    }
}

.homeChoosingPhoto
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 90% 0;
    border-radius: 244px 244px 0px 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.homeChoosingPhoto.active {
    opacity: 1;
}

.homeNumberOfPhotoInCarousel
{
    position: relative;
}

.leftArrow
{
    position: absolute;
    display: none;
}

.rightArrow
{
    position: absolute;
    display: none;
}

@media screen and (max-width: 696px)
{
    .leftArrow
    {
        display: flex;
        width: 50%;
        height: 70%;
        z-index: 3;
    }

    .rightArrow
    {
        margin-left: 50%;
        display: flex;
        width: 50%;
        z-index: 3;
        height: 70%;
    }
}

.homeMain
{
    position: relative;
}

.flower
{
    position: absolute;
    right: -119px;
    top: -140px;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .flower
    {
        right: -58px;
        top: -78px;
    }
}

.homeFirstColumn
{
    position: relative;
}

.flowerSmall
{
    position: absolute;
    right: -6px;
    top: 21px;
}

.homeFirstColumnSecondRow
{
    position: relative;
}

.wrapForSignUp
{
    position: absolute;
    right: 0px;
    top: 61px;
    height: 155px;
    width: 155px;
}

.buttonSignUp
{
    position: absolute;
    z-index: 1000;
}

@media screen and (max-width: 1200px) and (min-width: 697px)
{
    .wrapForSignUp
    {
        height: 111px;
        width: 111px;
        top: 70.42px;
        right: 17px;
    }

    .buttonSignUp
    {
        height: 111px;
        width: 111px;
    }
}

@media screen and (max-width: 696px)
{
    .wrapForSignUp
    {
        height: 111px;
        width: 111px;
        top: 131px;
        z-index: 3;
    }

    .buttonSignUp
    {
        height: 111px;
        width: 111px;
    }
}

.homeSecondColumn
{
    position: relative;
}

.flowersImage
{
    position: absolute;
    z-index: 1;
    transition: all 0.8s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}