:root {
    --header-color: #789776;
    --text-color: #5B6158;
    --background-color: #FEFBF7;
    --delimiter-color: #98958B;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'New-YorkerC';
    src: url('../fonts/New-YorkerC.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype')
}

.priceMainPart
{
    margin: 0 auto;
    margin-top: 132px;
    height: 437px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceMainPart
    {
        margin-top: 100px;
        height: 466px;
        width: 696px;
    }
}

@media screen and (max-width: 696px)
{
    .priceMainPart
    {
        margin-top: 88px;
        height: 794px;
        width: 327px;
    }
}

.priceTitleWithSecondInfo
{
    height: 124px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.priceAllPricesBlock
{
    height: 242px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceTitleWithSecondInfo
    {
        height: 100px;
        flex-direction: row;
    }

    .priceAllPricesBlock
    {
        height: 318px;
    }
}

@media screen and (max-width: 696px)
{
    .priceTitleWithSecondInfo
    {
        height: 150px;
        flex-direction: column;
    }

    .priceAllPricesBlock
    {
        height: 575px;
    }
}

.priceTitle
{
    height: 100%;
    width: 530px;
}

.priceSecondText
{
    height: 100%;
    width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceTitle
    {
        height: 100%;
        width: 338px;
    }

    .priceSecondText
    {
        height: 100%;
        width: 338px;
    }
}

@media screen and (max-width: 696px)
{
    .priceTitle
    {
        height: 60px;
        width: 100%;
    }

    .priceSecondText
    {
        height: 76px;
        width: 100%;
    }
}

.priceTitleText
{
    font-family: 'New-YorkerC';
    font-weight: 400;
    font-size: 48px;
    color: var(--header-color);
    line-height: 1.3;
    letter-spacing: 0.01rem;
    margin: 0;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceTitleText
    {
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.007rem;
    }
}

@media screen and (max-width: 696px)
{
    .priceTitleText
    {
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.007rem;
    }
}

.priceSecondTextFirstPart
{
    width: 100%;
    height: 61px;
    display: flex;
}

.priceSecondTextSecondPart
{
    width: 100%;
    height: 12px;
    margin-bottom: 32px;
    display: flex;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceSecondTextFirstPart
    {
        height: 48px;
    }

    .priceSecondTextSecondPart
    {
        height: 35px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 696px)
{
    .priceSecondTextFirstPart
    {
        height: 13px;
    }

    .priceSecondTextSecondPart
    {
        height: 53px;
        margin-bottom: 0px;
    }
}

.priceTextCanChangeUpper
{
    font-family: 'Raleway-Regular';
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.25;
    margin: 0;
}

.priceTextCanChangeUpper span
{
    font-family: 'Raleway-Semibold';
    font-weight: 600;
    color: var(--text-color);
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceTextCanChangeUpper
    {
        font-size: 14px;
        line-height: 1.25;
    }

    .priceTextCanChangeUpper span
    {
        color: var(--header-color);
    }
}

@media screen and (max-width: 696px)
{
    .priceTextCanChangeUpper
    {
        font-size: 13px;
        line-height: 1.35;
    }

    .priceTextCanChangeUpper span
    {
        color: var(--text-color);
    }
}

.priceTextCanChangeUpper.topText
{
    width: 85%;
    display: block;
}

.priceTextCanChangeUpper.downText
{
    width: 100%;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceTextCanChangeUpper.topText
    {
        width: 100%;
        display: block;
    }

    .priceTextCanChangeUpper.downText
    {
        width: 70%;

    }

    .priceTextCanChangeUpper.downText span
    {
        color: var(--text-color);
    }
}

@media screen and (max-width: 696px)
{
    .priceTextCanChangeUpper.topText
    {
        width: 100%;
    }

    .priceTextCanChangeUpper.downText
    {
        width: 100%;
    }
}

.priceFirstColumn
{
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceSecondAndThirdColumn
{
    height: 100%;
    width: 870px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceFirstColumn
    {
        width: 338px;
    }

    .priceSecondAndThirdColumn
    {
        width: 338px;
    }
}

@media screen and (max-width: 696px)
{
    .priceFirstColumn
    {
        display: none;
    }

    .priceSecondAndThirdColumn
    {
        width: 100%;
    }
}

.priceSecondColumn
{
    width: 407px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.priceThirdColumn
{
    width: 407px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1200px)
{
    .priceSecondColumn
    {
        display: none;
    }
    .priceThirdColumn
    {
        width: 100%;
        height: 100%;
    }
}

.priceSignUp
{
    width: 100%;
    height: fit-content;
    background-color: var(--header-color);
    transition: all 0.3s ease-in-out;
    padding: 20px 56px 20px 56px;
    border-radius: 53px;
    border: 1.32px solid var(--header-color);
}

.priceSignUp:hover
{
    background-color: var(--background-color);
}

.priceSignUp:hover .priceButtonText
{
    color: var(--header-color);
}

.priceButtonText
{
    font-family: 'Raleway-Medium';
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05rem;
    color: var(--background-color);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceSignUp
    {
        width: 240px;
        height: 55px;
        padding: 20px 56px 20px 56px;
    }

    .priceButtonText
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 696px)
{
    .priceSignUp
    {
        width: 100%;
        height: 100%;
        padding: 18px 40px 18px 40px;
    }

    .priceButtonText
    {
        font-size: 13px;
    }
}

.priceUpSmallPart
{
    width: 123px;
    height: 97px;
}

.priceDownBiggerPart
{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceUpSmallPart
    {
        width: 92px;
        height: 77px;
    }

    .priceDownBiggerPart
    {
        height: 194px;
        width: 100%;
        margin-bottom: 11px;
    }
}

.priceRepetitiveCardInfoPart
{
    height: 97px;
    width: 100%;
}

.priceAdditionalWrap
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceListOfAllSm
{
    display: none;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceAdditionalWrap
    {
        height: 194px;
    }

    .priceListOfAllSm
    {
        display: flex;
        height: 55px;
        width: 240px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 696px)
{
    .priceAdditionalWrap
    {
        height: 98px;
    }

    .priceListOfAllSm
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 444px;
        width: 100%;
    }
}

.priceCardPartInside
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.priceButtonPartInside
{
    display: none;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceCardPartInside
    {
        height: 100%;
        width: 100%;
    }

    .priceButtonPartInside
    {
        display: none;
    }
}

@media screen and (max-width: 696px)
{
    .priceCardPartInside
    {
        height: 98px;
        width: 83px;
    }

    .priceButtonPartInside
    {
        display: flex;
        width: 191px;
        height: 49px;
    }
}

.priceCard
{
    width: 100%;
    height: 97px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceCard
    {
        width: 338px;
        height: 81px;
    }
}

@media screen and (max-width: 696px)
{
    .priceCard
    {
        width: 327px;
        height: 81px;
    }
}

.priceCardHalf
{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.priceCardDelimiter
{
    height: 1px;
    width: 100%;
    background-color: var(--delimiter-color);
    opacity: 50%;
    display: flex;
}

.priceCardNumberExecises
{
    display: flex;
    align-items: center;
}

.priceCardInfoBlock
{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.priceCardPriceInfo
{
    font-family: 'Raleway-Light';
    font-weight: 300;
    font-size: 48px;
    color: var(--text-color);
    margin: 0;
    font-feature-settings: "lnum";
}

.priceCardPriceInfo.green
{
    color: var(--header-color);
}

.priceCardPriceInfo.small
{
    font-family: 'Raleway-Regular';
    font-size: 16px;
    line-height: 1.3;
    width: 137px;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceCardPriceInfo
    {
        font-size: 32px;
    }

    .priceCardPriceInfo.small
    {
        font-size: 14px;
        line-height: 1.2;
        width: 118px;
    }
}

@media screen and (max-width: 696px)
{
    .priceCardPriceInfo
    {
        font-size: 32px;
    }

    .priceCardPriceInfo.small
    {
        font-size: 14px;
        line-height: 1.2;
        width: 118px;
    }
}

.priceCardNumberExecises
{
    height: 100%;
    width: fit-content;
}

.priceCardTextNumberExecises
{
    width: fit-content;
    height: fit-content;
    display: flex;
}

.priceCardInfoBlock.bottom
{
    align-items: end;
}

.priceCardPriceInfo.small.green.onetext
{
    width: fit-content;
}

.priceCardPriceInfo.green.notgreen
{
    color: var(--text-color);
}

.priceCardPriceInfo.green.onenumber
{
    margin-right: 7px;
}

.priceCardPriceInfo.notgreen.onenumber
{
    margin-right: 7px;
}

.priceCardPriceInfo.small.onesmalltext
{
    width: 100px;
}

.priceCardPriceInfo.small.onesmalltextSecond
{
    width: 100px;
    margin-right: 7px;
}

@media screen and (max-width: 1200px) and (min-width: 696px)
{
    .priceCardPriceInfo.small.onesmalltextSecond
    {
        width: 60px;
    }
}

@media screen and (max-width: 696px)
{
    .priceCardPriceInfo.small.onesmalltextSecond
    {
        width: 55px;
    }
}

.priceCardPriceInfo.number
{
    margin-right: 7px;
}

.priceAddCard
{
    width: 100%;
    height: 100%;
}

.priceAddCardHalfUp
{
    height: 36px;
    width: 100%;
}

.priceAddCardHalfBottom
{
    height: 35px;
    width: 100%;
}

.priceAddCard
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceAddCardHalfBottom
{
    display: flex;
    align-items: end;
}

.priceCardPriceInfo.small.onetext.notgreen
{
    width: fit-content;
}

.priceCardPriceInfo.onenumber.notgreen
{
    margin-right: 7px;
}

.priceCardTextNumberExecises.special
{
    height: 100%;
    align-items: flex-end;
}